<%- include('./partials/header.ejs', {
    title: 'Home'
}); %>

<header>
    <h1>Home</h1>

    <ul>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/coffees">Coffees</a></li>
    </ul>
</header>
   


<%- include('./partials/footer.ejs'); %>