<%- include('../partials/header.ejs', {
    title: 'Coffee Index'
}); %>

    <h1>Coffees Index</h1>
    <ul>
        <% coffees.forEach( coffee => { %>
            <li><a href="/coffees/<%= coffee._id %>"><%= coffee.name %></a></li>
        <% }); %>
    </ul>

<%- include('../partials/footer.ejs'); %>