<%- include('../partials/header.ejs', {
    title: 'Create New Coffee'
}); %>
    <header>
        <h1>Create New Coffee</h1>
    </header>
    <main>
        <form action="/coffees" method="POST">
            Name: <input type="text" name="name">
            Roast: <input type="text" name="roast">
            Region: <input type="text" name="region">
            <button type="submit">Create Coffee</button>
        </form>
    </main>





<%- include('../partials/footer.ejs'); %>